[Desktop Entry]
Name=XfinityURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/xfinity;
TryExec=xfinity
Exec=xfinity %u
Icon=xfinity
Terminal=false
Type=Application
StartupNotify=false
